$main-font: 'Raleway', sans-serif;

.product-filter{
    display: flex;
    justify-content: center;
    margin: 100px 0px 0px 0px;
    background-color: #DBDBE1;
    padding: 10px 0px 10px 0px;
    align-items: center;
    height: 30px;
    border: solid 1px darkgray;

    .product-filter__input{
        margin: 0px 10px 0px 0px;
    }
    .product-filter__h4{
        margin: 5px 60px 0px 0px;
        font-family: $main-font;
    }
}
.product-list{
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;

    .product-item{
        margin: 60px 0px 0px 0px;
        width: 33%;
        text-align: center;
        img{
            width: 100px;
            height: 100px;
            box-shadow: 3px 3px 4px darkgrey;
            border-radius: 5px;
        }
        .product-item__a-name{
            margin: 10px 0px 0px 0px;
            font-family: $main-font;
            font-weight: bolder;
            color: black;
        }
        .product-item__p-price{
            font-family: $main-font;
            font-size: 14px;
            font-style: italic;
            margin-top: -15px;
        }
    }
}

@media only screen and (max-width: 1100px){
    .product-list{

        .product-item{
            width: 50%;

        }
    }
}
@media only screen and (max-width: 900px){
    .product-filter{
        .product-filter__h4{
            margin: 0px;
        }
    }
}
@media only screen and (max-width: 700px){
    .product-list{

        .product-item{
            width: 100%;

            p{
                width: 100%;
            }
        }
    }
}